<div>
  <h3>  Below is the data
    </h3>
  <div *ngIf="error==true">
      <span>Some error occured!!</span>
  </div>
<table *ngIf="rawData.length>0">
  <tbody>
    <th (click)="sort('name')">name</th>
    <th (click)="sort('category')">category</th>
    <th (click)="sort('amount')">amount</th>
  </tbody>
  <tr *ngFor="let row of rawData">
    <td>{{row.name}}</td>
    <td>{{row.category}}</td>
    <td>{{row.amount}}</td>
  </tr>
</table>

<a routerLink="/report" >Show aggregated report!!</a>
</div>
